extends layout
block vars
block title
  
  body

    p(style='text-align:right') 
      a(href='#') 
        span.glyphicon.glyphicon-user


      nav.navbar.navbar-default( role="navigation" )
          .navbar-header
              button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href="#") Off-Flavor Database
       
          #navbar-inverse.collapse.navbar-collapse
              ul.nav.navbar-nav
                  li: a( href="/") Home
                  li: a( href="about" ) About
                  li.active: a( href="#" ) Contact
                  


block content

block body

  div.col-md-6
    p
      |Competence Center of Food and Fermentation Technologies (CCFFT)
      br
      |Akadeemia tee 15A
      br
      |12618 Tallinn, Estonia
      br
      |Phone: +372 6408200
      br
      |Fax: +372 6408282
      br
      |e-mail: info [at] tftak [dot] eu
      br
   div.col-md-6     
      img(src="https://maps.googleapis.com/maps/api/staticmap?center=Opera+House,Sydney+Australia&zoom=13&size=400x300&markers=-33.8565,151.2151&sensor=false")
