extends layout

block vars
	- title = 'Contact'
	- activeMenu = 'contact'

block content
	.container
		.col-md-6
			p
			|Competence Center of Food and Fermentation Technologies (CCFFT)
			br
			|Akadeemia tee 15A
			br
			|12618 Tallinn, Estonia
			br
			|Phone: +372 6408200
			br
			|Fax: +372 6408282
			br
			|e-mail: info [at] tftak [dot] eu
			br
		.col-md-6
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2031.1637179950203!2d24.660364315782804!3d59.39698098168251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTnCsDIzJzQ5LjEiTiAyNMKwMzknNDUuMiJF!5e0!3m2!1set!2sus!4v1453746011688" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>