extends layout

block vars
    - title = 'Flavors'
    - activeMenu = 'flavors'

block content

    each f in flavors
        div= f.get('_id')
        div= f.get('cas-number.value', 'XXXXX')
        div= f.get('molecul-name.value', 'XXXXX')
        div= f.get('treshold.value', 'XXXXX')

        hr


//- cas-number
//- entu-changed-at
//- entu-changed-by
//- entu-created-at
//- entu-created-by
//- molecul-name
//- other-molecul-name
//- photo
//- quality
//- retention-index
//- treshold
