extends layout

block vars
    - title = 'Home'
    - activeMenu = 'home'

block content
    div.container
      div.row
        div.col-md-6
            div.col-md-8
              h1 Search off-flavors

              form(method="GET", action="/flavors")
                div.form-group
                  label Flavor quality
                  input(type="text",name="quality", class="form-control", placeholder="Moldy")
                  br
                  label Product Category
                  input(type="text",name="category", class="form-control", placeholder="Herbs")
                  br
                  label Retention index
                  input(type="text",name="retention", class="form-control", placeholder="681")
                div.actions
                  button(type="submit",class="btn btn-default") Search


          div.row
            div.col-md-6
                div.col-md-8
                  h1 Insert off-flavor

                  form
                    div.form-group
                      label Molecule name *
                      input(type="text", class="form-control")
                      br
                      label CAS number *
                      input(type="text", class="form-control")
                      br
                      label Flavor quality list *
                      input(type="text", class="form-control")
                      br
                      label Product category *
                      input(type="text", class="form-control")
                      br
                      label Developing Mechanism *
                      input(type="text", maxlength="4", class="form-control")
                      br
                      label Retention column *
                      input(type="text", class="form-control")
                      br
                      label Retention index *
                      input(type="text", class="form-control")
                      br
                      label Odor threshold
                      input(type="text", class="form-control")

                    div.actions
                      button(type="submit",class="btn btn-default") Insert
