extends layout

block vars
	- title = 'Home'
	- activeMenu = 'home'

block content
	div.container
		div.row
				div.col-md-12
					div(align="center")
						div.col-md-6

							button.button(style="vertical-align:middle" onclick='search()') 
								span Search off-flavors
						div.col-md-6
							script.
								var search = function() {
									var searchurl = "search"
									window.location.href=searchurl
								}

							button.button(style="vertical-align:middle" onclick='insert()')
								span Insert off-flavor
							script.
								var insert = function() {
									var inserturl = "signin"
									window.location.href=inserturl
								}