doctype html
html(lang="en")

	block vars

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		title= title
		- activeMenu = "home" //default
		- menu = { "Home": "/", "Contact": "/contact" }

		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='stylesheets/styles.css')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

	body
		a(href="/signin")
			div.glyphicon.glyphicon-user

		nav.navbar.navbar-default( role="navigation" )
			.navbar-header
			a.navbar-brand(href="/") Off-Flavor Database

			#navbar-inverse.collapse.navbar-collapse
				ul.nav.navbar-nav
					each val, key in menu
						li
							if title === key
								li.active: a.activeMenu(href=val, title=key)= key
							else
								a(href=val, title=key)= key
		.container
			.jumbotron
				p.jumbo FOR THE PERFECT FLAVOR


		block content
