extends layout

block vars
	- title = 'signin'
	//- title = t('pages.sign-in.title')

block content
	.container
		.row
			.jumbotron.col-xs-12.text-center
				p= 'Sign in'
				a.btn.btn-danger(href="/signin/google", title='Google', aria-label= 'sign-in.google', aria-labelledby="terms-label")
					span.fa.fa-google-plus Google

		.row.spacer
