body 
	padding:50px;
	font: 14px Helvetica
	background: #82e0af
	letter-spacing: 1px

a 
	color: #00B7FF

table#flavors tr.odd
	background-color: #f5f5f5
table#flavors tr.even
	background-color: #dedede
td
	height: 70px
th
	height: 50px

h1
	color: #fff
	font: 20px Helvetica
	text-transform: uppercase
	letter-spacing: 3px

button 
	font: 18px Helvetica, Arial, sans-serif
	box-sizing: border-box
	display: block
	border: none
	padding: 20px
	width: 90px
	margin-bottom: 20px
	font-size: 18px
	outline: none
	transition: all 0.2s ease-in-out

.jumbo 
	text-align: center