body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table#flavors tr.odd {
  background-color: #f5f5f5;
}
table#flavors tr.even {
  background-color: #c7c7c7;
}
td {
  height: 70px;
}
